<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openChatModal()">
    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <div class="main-container">
  <div class="left-section">
    <app-left-section (sectionSelected)="onSectionSelected($event)"></app-left-section> 
  </div>

  <div class="right-section">
    <app-right-section [activeSection]="activeSection"></app-right-section>
    <button *ngIf="activeSection" (click)="onBackButtonClicked()">Back</button>
  </div>
</div> -->

<div class="desktopView">
    <div class="left-section">
      <app-left-section (sectionSelected)="onSectionSelected($event)"></app-left-section> 
    </div>
    <div class="right-section">
      <app-right-section [activeSection]="activeSection"></app-right-section>
    </div>
</div> 

<div class="mobileView">
    <div class="left-section" *ngIf="!isRightSectionVisible">
      <app-left-section (sectionSelected)="onSectionSelected($event)"></app-left-section> 
    </div>
    <div class="right-section" [ngClass]="{'show': isRightSectionVisible}">
      <!-- <div class="header">
        <button (click)="onBackButtonClicked()">Back</button>
      </div> -->
      <app-right-section [activeSection]="activeSection" (backButtonClicked)="onBackButtonClicked()"></app-right-section>
    </div>
</div> 